/* Varbale's */
:root{
  --light-color:#a3afb6;
  --hover-color: #018baa;
  --black-color: #21252a;
  --main-transation: 0.5s;
  --padding-top: 60px;
  --padding-bottom: 60px;
}
/* Global Rule's */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Almarai', sans-serif;
  direction: rtl;
}
html{
  scroll-behavior: smooth;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
  width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
  width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
  width: 1170px;
  }
}
ul{
  list-style: none;
}
/* End Global Rule's */
/* start header */
header{
  background-color: #21252a;
}
header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
header .container img {
  width: 150px;
  cursor: pointer;
}
header .container nav .links{
  display: flex;
}
header .container nav .links a{
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  color: var(--light-color);
  transition: var(--main-transation);
}
@media(max-width:992px){
  header .container nav .links a{
    display: none;
  }
}
@media(min-width:992px){
  header nav .toggle-menu{
    display: none;
  }
}
header nav .toggle-menu{
  font-size: 30px;
  color: white;
}
header nav .toggle-menu:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
}
header .container nav .links a.active{
  background-color: var(--hover-color);
  border-radius: 25px;
  color: white;
}
header .container nav .links a:hover{
  background-color: var(--hover-color);
  border-radius: 25px;
  color: white;
}
header .container nav .links i{
  display: flex;
  align-items: center;
  color: var(--light-color);
  font-size: 22px;
  margin-right: 15px;
}
@media(max-width:992px){
  header .container nav .links i{
    display: none;
  }
}
/* End header */
/* start landing */
.landing .container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media(max-width:768px){
  .landing .container{
    flex-direction: column;
  }
  .landing .container img{
    max-width: 100%;
    order: 2;
    margin-top: 60px;
  }
}
.landing .container img{
  width: 500px;
}
.landing .container .text{
  text-align: center;
}
.landing .container .text h2{
  position: relative;
  animation: up-and-down 5s linear infinite;
  color: var(--black-color);
  font-size: 6rem;
  margin: 30px;
  min-width: 250px;
}
.landing .container .text h3{
  color: var(--black-color);
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-weight: 800;
}
.landing .container .text p{
  color: var(--black-color);
  font-size: 1.3rem;
  font-weight: 800;
}
.landing .container .social-icon{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  text-align: center;
}
@media(max-width:992px){
  .landing .container .social-icon{
    display: none;
  }
}
.landing .container .social-icon i{
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: var(--main-transation);
}
.landing .container .social-icon i:hover{
  color: var(--hover-color);
}
/* end landing */
/* start about */
.about{
  background-color: #f5f5f5;
  margin-top: -26px;
  padding-bottom: var(--padding-bottom);
}
.about .content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media(max-width:992px){
  .about .content{
    flex-direction: column;
  }
}
.about .content img{
  width: 500px;
  max-width: 100%;
}
.about .content p{
  position: relative;
  font-size: 1.2rem;
  color: var(--black-color);
  padding: 20px 30px;
  line-height: 2rem;
  max-width: 422px;
  font-weight: 500;  
}
.about .content p::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 85%;
  background: var(--hover-color);
  right: 0;
}
/* end about */
/* start policy */
.policy{
  background-color: #f5f5f5;
}
.policy .content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 150px;
}
@media(max-width:992px){
  .policy .content{
    flex-direction: column;
  }
  .policy .content .text{
    order: 2;
  }
  .policy .content img{
    margin-bottom: 20px;
  }
  .policy .content img.hero{
    margin-top: -125px;
  }
}
.policy .content .text p{
  position: relative;
  font-size: 1.2rem;
  color: var(--black-color);
  padding: 20px 30px;
  line-height: 2rem;
  max-width: 450px;
  font-weight: 500;
}
.policy .content .text p::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 85%;
  background: var(--hover-color);
  right: 0;
}
.policy .content .img-1{
  width: 500px;
  max-width: 100%;
}
.bottomWave{
  margin-top: -150px;
  position: absolute;
}
/* end policy */
/* start project */
.our-project{
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.our-project .container .project-srv{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.our-project .container .project-srv .box {
  flex-basis: 30%;
  margin-bottom: 30px;
  box-shadow: 0px 3px 6px 0px #21252a33;
}
@media(max-width:768px){
  .our-project .container .project-srv{
    flex-direction: column;
  }
}
.our-project .container .project-srv .box img{
  width: 100%;
  transition: var(--main-transation);
}
.our-project .container .project-srv .box img:hover{
  filter: grayscale(1);
}
.our-project .container .project-srv .box .text {
  background: #f4f4f4;
  margin-top: -5px;
}
.our-project .container .project-srv .box .text p {
  color: var(--black-color);
  padding: 20px;
  line-height: 28px;
}
.our-project .container .project-srv .box .text a{
  padding: 20px;
  display: block;
  color: var(--black-color);
  font-weight: 500;
  text-decoration: none;
}
.our-project .container .project-srv .box .text a i {
  margin: 10px;
  display: inline-flex;
  animation: right-left 5s linear infinite;
  position: relative;
  font-size: 15px;
}
/* end project */
/* start currentProject */
.currentProject .container .content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media(max-width:992px){
  .currentProject .container .content{
    flex-direction: column;
  }
}
.currentProject .main-header .test{
  font-size: 22px;
}
.currentProject .container .content img{
  width: 500px;
  max-width: 100%;
}
.currentProject .container .content .text{
  width: 450px;
}
@media(max-width:992px){
  .currentProject .container .content .text{
    width: 500px;
    order: 2;
    margin-top: 50px;
  }
}
@media(max-width:768px){
  .currentProject .container .content .text{
    width: fit-content;
    order: 2;
    margin-top: 50px;
  }
}
.currentProject .container .content .text h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: var(--black-color);
}
.currentProject .container .content .text .first {
  font-size: 20px;
  margin-bottom: 20px;
}
.currentProject .container .content .text .second {
  color: var(--black-color);
  font-size: 20px;
  margin-bottom: 20px;
}
.currentProject .container .content .text span {
  display: block;
  font-size: 20px;
  font-weight: 500;
}
/* end currentProject */
/* start donation */
.donation{
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.donation .container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media(max-width:992px){
  .donation .container .content{
    flex-direction: column;
  }
}
.donation .container .content img{
  width: 500px;
  max-width: 100%;
}
.donation .container .content .donation-srv{
  max-width: 500px;
}
.donation .container .content .donation-srv .text h3{
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 800;
}
.donation .container .content .donation-srv .text .test1{
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.donation .container .donation-srv .donation-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media(max-width:768px){
  .donation .container .donation-srv .donation-1{
    flex-direction: column;
    align-items: flex-start;
  }
  .donation .container .donation-srv .shape{
    margin-top: 15px;
  }
}
.donation .container .donation-srv .donation-1 p{
  font-size: 19px;
  margin-bottom: 25px;
  color: var(--black-color);
}
.donation .container .donation-srv .donation-1 a{
  display: block;
  text-decoration: none;
  padding: 14px;
  border: 1px solid #a3afb6;
  margin-bottom: 20px;
  margin-left: -25px;
  color: var(--black-color);
  border-radius: 25px;
  transition: var(--main-transation);
}
.donation .container .donation-srv .donation-1 a:hover{
  background-color: var(--hover-color);
  color: white;
}
@media(max-width:768px){
  .donation .container .donation-srv .donation-1 a{
    padding: 6px;
  }
}
.donation .container .donation-srv .special-1{
  font-size: 22px;
  margin-bottom: 20px;
  color: var(--black-color);
}
.donation .container .donation-srv .test-1{
  font-size: 19px;
  color: var(--black-color);
  margin-bottom: 20px;
}
.donation .container .donation-srv .shape{
  background: var(--hover-color);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  border-radius: 25px;
  font-size: 20px;
  width: fit-content;
}
/* end donation */
/* start footer */
.footer{
  padding-top: var(--padding-top);
  padding-bottom: 20px;
  background-color: #0e0e11;
}
.footer .content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  text-align: center;
}
.footer .content .box span{
  color: #a3afb6;
}
.footer .content .box .links li{
  transition: var(--main-transation);
}
.footer .content .box .links li a{
  display: block;
  margin-top: 0;
  text-decoration: none;
  padding: 6px;
  color: #a3afb6;
  transition: var(--main-transation);
}
.footer .content .box .links li a:hover{
  padding-top: 10px;
  color: white;
  font-size: 22px;
}
.footer .container .copyright{
  display: block;
  margin-top: 50px;
  color: #a3afb6;
  font-weight: 800;
  text-align: center;
  font-size: 17px;
  transition: var(--main-transation);
}
.footer .container .copyright:hover{
  padding-bottom: 10px;
  font-size: 22px;
  color: white;
}
.footer .container .copyright span{
  text-transform: uppercase;
}
/* end footer */
/* start main-header */
.main-header{
  text-align: center;
}
.main-header h1{
  color: var(--black-color);
  font-size: 30px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  position: relative;
  width: 200px;
  margin: 0 auto 50px;
  transition: var(--main-transation);
}
@media(max-width:768px){
  .main-header h1.special{
    margin: 20px auto;
  }
}
.main-header h1:hover{
  background-color: var(--hover-color);
  color: white;
}
/* end main-header */
/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50%{
    top: 50px;
  }
}
@keyframes right-left{
  0%,
  100% {
    right: 30px;
  }
  50%{
    right: 0;
  }
}
/* end animation */
